---
import Container from "~/components/Container.astro";
import Section from "~/components/Section.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <Section class:list={'bg-white'}>
        <Container  class:list={"relative z-10"}>
            



        </Container>



    </Section>







    
</Layout>