---
import { siteName } from "~/data/config";
import SocialMediaIcons from "./SocialMediaIcons.astro";
const currentYear = new Date().getFullYear();
---

<footer class="px-4 py-2 -mx-4 text-white text-2xl font-bold bg-gradient-to-r from-pink-100 via-pink-200 to-pink-300">
	<div class="py-12 md:flex md:items-center md:justify-between container">
		<div class="flex justify-center gap-x-6 md:order-2 [&_svg]:text-white">
			<SocialMediaIcons />
		</div>
		<p class="mt-10 max-md:text-center text-base">
			&copy; {currentYear}
			{siteName}. All rights reserved.<br />
			 Hecho por <a href="https://udigitalbusiness.com/" class="font-semibold" target="blank">UDigital Business</a>
			
			<!-- <a class="underline" href="/privacy-policy">Privacy policy</a> -->
		</p>
	</div>
</footer>
